@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&family=Lora:ital,wght@0,400;0,500;1,400&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Be Vietnam Pro', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Lora', ui-serif, Georgia;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
  }
}